cff-version: 1.2.0
message: "Cite the archived release of the TA-LIF x MS-ResNet reproducibility package."
title: "TA-LIF x MS-ResNet Reproducibility Package"
type: software
version: "[RELEASE VERSION]"
date-released: "[YYYY-MM-DD]"
authors:
  - family-names: "Deng"
    given-names: "Yanzhao"
  - family-names: "Yan"
    given-names: "Peng"
  - family-names: "Wang"
    given-names: "Song"
repository-code: "[REPOSITORY URL]"
doi: "[ZENODO DOI]"
commit: "[EXACT COMMIT]"
license: "[LICENSE]"
