cff-version: 1.2.0
message: "Cite the archived release of the V5 TA-LIF reproducibility package."
title: "TA-LIF in Directly Trained Spiking Residual Networks"
type: software
version: "[RELEASE VERSION]"
date-released: "[YYYY-MM-DD]"
authors:
  - family-names: "Deng"
    given-names: "Yanzhao"
  - family-names: "Yan"
    given-names: "Peng"
  - family-names: "Wang"
    given-names: "Song"
repository-code: "https://github.com/Dengyanzhao/ta-lif-msresnet"
doi: "[ZENODO DOI]"
license: "MIT"
